@import './reset.scss';
@import './themes/dark.scss';
@import './themes/light.scss';
@import './vars/global.scss';

.app {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.fallback {
    text-align: center;
    font-size: 3rem;
    margin-top: 20%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
}
.leftSide {
    max-width: 30rem;
}
.content {
    padding: 1rem;
    width: 100%;
}
.wrapper {
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}
