@import './reset';
@import './themes/dark';
@import './themes/light';
@import './vars/global';

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--primary-bg-color);
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.page-wrapper {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
