.ThemeSwitcher {
}

.light,
.dark {
    width: 3rem;
    height: 3rem;
}

.light {
    path {
        fill: var(--primary-color);
        stroke: var(--primary-color);
    }
}
.dark {
    path {
        fill: var(--primary-color);
        stroke: var(--primary-color);
    }
}
