.ThemeSwitcher {
}

.light,
.dark {
    width: 3rem;
    height: 3rem;
}

.light {
    path {
        fill: yellow;
        stroke: yellow;
    }
}
.dark {
    path {
        fill: rgb(15, 11, 125);
        stroke: blue;
    }
}
