.ThemeSwitcher {
    path {
        transition: all 0.3s;
    }
}

.ThemeSwitcher:hover {
    path {
        fill: var(--hover-color);
        stroke: var(--hover-color);
    }
}

.light,
.dark {
    width: 3rem;
    height: 3rem;
}

.light {
    path {
        fill: var(--primary-color);
        stroke: var(--primary-color);
    }
}

.dark {
    path {
        fill: var(--primary-color);
        stroke: var(--primary-color);
    }
}
