.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
}

.outline {
    padding: 1rem 3rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
