.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 20rem;
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease;
}

.collapsed {
    width: 5rem;
}

.switchers {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevron {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 3%;
    top: 40%;
    transition: transform 0.3s;
    svg {
        path {
            stroke: var(--primary-color);
        }
    }
}

.collapsed .chevron {
    transform: rotate(180deg);
}
