.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 25rem;
    background: var(--bg-sider);
    position: relative;
    transition: width 0.3s ease;
    box-shadow: var(--box-shadow);
    padding: 2rem 0 0 1rem;
}

.Sidebar.collapsed {
    padding: 2rem 0 0;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.link {
    a {
        display: flex;
        align-items: center;
    }

    svg {
        margin-right: 1rem;
    }
}

.home,
.about {
    width: 4rem;
    height: 4rem;
}

.collapsed {
    width: 6rem;

    .links {
        .link {
            a {
                flex-direction: column;
                font-size: 1rem;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        svg {
            margin-right: 0;
        }

        a:last-child {
            margin-right: 0;
        }
    }

    .home,
    .about {
        width: 3rem;
        height: 3rem;
    }
}

.switchers {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chevron {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 3%;
    top: 40%;
    transition: transform 0.3s;
    transform: rotate(180deg);

    svg {
        path {
            stroke: var(--primary-color);
        }
    }
}

.collapsed .chevron {
    right: 20%;
    transform: rotate(0deg);
}
