.Text {
    text-align: start;
}

.title {
    font: var(--font-l);
    color: var(--primary-color);
}

.descr {
    font: var(--font-m);
    color: var(--secondary-color);
}

.error * {
    color: var(--error-color);
}

.success * {
    color: var(--success-color);
}
