.button svg {
    width: 3rem;
    height: 3rem;
}

.dark svg {
    path {
        fill: transparent;
        stroke: var(--primary-color);
    }
}

.light svg {
    path {
        fill: transparent;
        stroke: var(--primary-color);
    }
}
