/* stylelint-disable no-descending-specificity */
.button {
    path {
        transition: all 0.3s;
    }
}

.button:hover {
    path {
        stroke: var(--hover-color);
    }
}

.button svg {
    width: 3rem;
    height: 3rem;
}

.dark svg {
    path {
        fill: transparent;
        stroke: var(--primary-color);
    }
}

.light svg {
    path {
        fill: transparent;
        stroke: var(--primary-color);
    }
}
