//
.button svg {
    width: 3rem;
    height: 3rem;
}

.dark svg {
    path {
        fill: var(--inverted-bg-color);
        stroke: white;
    }
}
.light svg {
    path {
        fill: var(--bg-color);
        stroke: var(--primary-color);
    }
}
