.app_dark_theme {
    // color
    --primary-color: #fff;

    // --secondary-color: #2ecc71;
    --hover-color: #3498db;

    // bg
    --primary-bg-color: linear-gradient(62deg, #787878 0%, #4e4e4e 100%);
    --secondary-bg-color: gray;

    // shadow
    --box-shadow: 0 5px 20px rgb(60 60 60 / 70%);
}
