.app.dark {
    --bg-color: #2b2b2b;
    --inverted-bg-color: #34495e;

    --primary-color: #3498db;
    --secondary-color: #2ecc71;

    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ecf0f1;
}
