.app.light {
    --bg-color: #ffffff;
    --inverted-bg-color: #f4f4f4;

    --primary-color: #3498db;
    --secondary-color: #2ecc71;

    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ecf0f1;
}
