.navbar {
    height: calc(var(--navbar-height));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: var(--primary-color);
    background-color: var(--inverted-bg-color);
    gap: 2rem;
}
